header {
  background-color: #fcdb01;
  font-family: "Spartan", sans-serif;
  padding-top: 55px; }
  header .menu_items {
    margin-top: 15px; }
    header .menu_items li {
      list-style: none; }
      header .menu_items li:nth-child(2) {
        margin: 0 50px; }
      header .menu_items li a {
        text-decoration: none;
        font-size: 22px;
        color: #010101;
        font-weight: 700;
        letter-spacing: 1px; }

h1,
h2 {
  font-weight: bold; }

.offer {
  margin-top: 117px; }
  .offer .offer_intro {
    font-size: 20px;
    color: #313841;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 22px;
    width: 400px; }
  .offer .offer_intro_two {
    font-size: 16px;
    color: #555555;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: 23px;
    width: 440px; }
  .offer .icons {
    margin-top: 41px;
    width: 200px; }
    .offer .icons li {
      list-style: none; }
      .offer .icons li a i {
        font-size: 42px;
        color: #010101;
        font-weight: 400;
        letter-spacing: 0;
        transition: 0.3s all ease; }
        .offer .icons li a i:hover {
          color: green; }

.i_pad_png {
  text-align: center;
  margin-top: 67px;
  margin-bottom: 107px; }

.features_block {
  margin: 104px auto 0;
  padding-bottom: 90px;
  text-align: center; }

.features_title {
  text-align: center; }
  .features_title h2 {
    font-size: 32px;
    color: #010101;
    font-weight: 700;
    letter-spacing: 0; }
  .features_title p {
    margin: 17px auto;
    font-size: 20px;
    color: #313841;
    font-weight: 400;
    letter-spacing: 0; }

.feature__grid {
  margin-bottom: 87px; }
  .feature__grid .feature__block {
    margin-left: 34px; }
    .feature__grid .feature__block h3 {
      font-size: 33px;
      color: #010101;
      font-weight: 400;
      letter-spacing: 0; }
    .feature__grid .feature__block p {
      font-size: 16px;
      color: #898989;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 20px; }
  .feature__grid i {
    font-size: 50px;
    color: #010101;
    font-weight: 400;
    letter-spacing: 0; }

footer {
  background-color: #232527;
  padding: 96px 0 105px; }
  footer .keep__in__touch {
    margin: 0 auto;
    text-align: center; }
    footer .keep__in__touch h2 {
      font-size: 32px;
      color: #fcdb01;
      font-weight: 700;
      letter-spacing: 0; }
    footer .keep__in__touch p {
      font-size: 20px;
      color: #898989;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 24px;
      margin: 17px 0 41px; }
  footer .enter__your__mail {
    text-align: center; }
    footer .enter__your__mail input {
      width: 580px;
      background-color: #ffffff;
      height: 50px;
      border-radius: 5px;
      outline: none;
      padding: 18px 0 16px 24px;
      border: none; }
      footer .enter__your__mail input::placeholder {
        font-size: 16px;
        color: #898989;
        font-weight: 400;
        letter-spacing: 0; }
    footer .enter__your__mail button {
      width: 125px;
      margin-left: 21px;
      border: 2px solid #010101;
      background-color: #fcdb01;
      height: 50px;
      border-radius: 5px;
      font-size: 16px;
      color: #010101;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 24px; }

.halo_vietnam {
  width: 178px;
  height: 55px;
  margin: 55px auto;
  text-align: center; }
  .halo_vietnam p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0; }

@media screen and (max-width: 920px) {
  .logo_png img {
    display: block;
    margin: 0 auto; }

  .menu_items {
    width: auto; }
    .menu_items a {
      text-align: center; }

  .offer {
    text-align: center; }
    .offer h2, .offer p {
      margin: 23px auto; }
    .offer .icons {
      margin: 41px auto; } }
@media screen and (max-width: 570px) {
  .menu_items {
    flex-direction: column;
    align-items: center; }
    .menu_items li {
      margin-top: 20px; }
      .menu_items li:nth-child(3) {
        margin-top: 10px; } }
@media screen and (max-width: 480px) {
  .offer {
    width: auto !important; }
    .offer .offer_intro, .offer .offer_intro_two {
      width: auto !important; } }
@media screen and (max-width: 360px) {
  .i_pad_png {
    width: 100%;
    background-color: green; } }

/*# sourceMappingURL=style.css.map */
